.habits-page {
  padding-bottom: 1rem;
}

.habits-page .habit-list {
  margin-bottom: 5rem;
}

@media (max-width: 576px) {
  .habits-page {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
